@charset "UTF-8";
/*

@Author: Themezinho
@URL: http://www.themezinho.net
 
This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.


	// Table of contents //

		01. FONTS
		02. BODY
		03. HTML TAGS
		04. LINKS
		05. FORM ELEMENTS
		06. CUSTOM CONTAINER
		07. CUSTOM CLASSES
		08. CUSTOM BUTTON
		09. ACCORDION
		10. HAMBURGER
		11. MOBILE MENU
		12. SEARCH BOX
		13. NAVBAR
		14. SLIDER 
		15. PAGE HEADER
		16. VIDEO PLAYER
		17. MOVIE INFO BOX
		18. MOVIE SIDE INFO BOX
		19. CONTENT SECTION
		20. VIDEO BG
		21. SECTION TITLE
		22. CATEGORY THUMBS
		23. VIDEO THUMBS
		24. ICON BOX
		25. CTA FORM
		26. SIDE IMAGE
		27. MEMBERSHIP
		28. CAROUSEL TV SHOWS
		29. MEMBER BOX
		30. DEVICES BOX
		31. SUPPORT BOX
		32. CONTACT BOX
		33. COMMENTS
		34. TESTIMONIALS
		35. PRICE BOX
		36. NEWS BOX
		37. SIDEBAR
		38. PAGINATION
		39. GET STARTED BOX
		40. FOOTER
		41. RESPONSIVE MEDIUM FIXES
		42. RESPONSIVE TABLET FIXES
		43. RESPONSIVE MOBILE FIXES

	

*/
/* GOOGLE FONTS */
@import url("http://fonts.googleapis.com/css2?family=Jost:wght@400;600;800&display=swap");
/* CUSTOM FONTS */
@font-face {
  font-family: 'Mont';
  src: url("../public/fonts/Mont-Regular.eot");
  src: local("☺"), url("../public/fonts/Mont-Regular.woff") format("woff"), url("../public/fonts/Mont-Regular.ttf") format("truetype"), url("../public/fonts/Mont-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mont';
  src: url("../public/fonts/Mont-Bold.eot");
  src: local("☺"), url("../public/fonts/Mont-Bold.woff") format("woff"), url("../public/fonts/Mont-Bold.ttf") format("truetype"), url("../public/fonts/Mont-Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Mont';
  src: url("../public/fonts/Mont-Heavy.eot");
  src: local("☺"), url("../public/fonts/Mont-Heavy.woff") format("woff"), url("../public/fonts/Mont-Heavy.ttf") format("truetype"), url("../public/fonts/Mont-Heavy.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
* {
  outline: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mont";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

/* HTML TAGS */
img {
  max-width: 100%;
}

p {
  line-height: 1.7;
}

strong {
  font-weight: 600;
}

/* LINKS */
a {
  color: #111111;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

a:hover {
  color: #111111;
  text-decoration: underline;
}

/* FORM ELEMENTS */
input[type="text"] {
  width: 420px;
  max-width: 100%;
  height: 70px;
  padding: 0 30px;
  color: #757575;
}

input[type="email"] {
  width: 420px;
  max-width: 100%;
  height: 70px;
  padding: 0 30px;
}

input[type="search"] {
  width: 420px;
  max-width: 100%;
  height: 70px;
  padding: 0 30px;
}

input[type="password"] {
  width: 420px;
  max-width: 100%;
  height: 70px;
  padding: 0 30px;
}

input[type="number"] {
  width: 420px;
  max-width: 100%;
  height: 70px;
  padding: 0 30px;
}

input[type="date"] {
  width: 420px;
  max-width: 100%;
  height: 70px;
  padding: 0 30px;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 4px;
  transform: translateY(3px);
  appearance: none;
  background: #ededed;
  border-radius: 50%;
}

input[type="radio"]:checked {
  border: 6px solid #111111;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 4px;
  transform: translateY(3px);
  appearance: none;
  background: #ededed;
}

input[type="checkbox"]:checked {
  border: 5px solid #ededed;
  background: #e90101;
}

textarea {
  width: 520px;
  max-width: 100%;
  height: 140px;
  padding: 30px;
  border: 1px solid #cecece;
  color: #fff;
}

select {
  width: 420px;
  max-width: 100%;
  height: 70px;
  padding: 0 30px;
  border: 1px solid #cecece;
  color: #757575;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 30px) 34px, calc(100% - 25px) 34px, calc(100% - 3.5em) 15px;
  background-size: 5px 5px, 5px 5px, 1px 40px;
  background-repeat: no-repeat;
}

input[type="submit"] {
  height: 70px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: #e90101;
  border: none;
  padding: 0 50px;
}

button[type="submit"] {
  height: 70px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: #e90101;
  border: none;
  padding: 0 50px;
}
button[type="submit"] i {
  display: inline-block;
  margin-right: 8px;
  font-size: 18px;
  transform: translateY(2px);
}

/* CUSTOM CONTAINER */
@media (min-width: 1170px) {
  .container {
    max-width: 1100px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1260px;
  }
}
/* CUSTOM CLASSES */
.overflow {
  overflow: hidden;
}

.no-gutters {
  padding: 0;
}

/* SPACING */
.no-spacing {
  margin: 0 !important;
  padding: 0 !important;
}

.no-top-spacing {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.space-50 {
  height: 50px;
}

/* CUSTOM BUTTON */
.custom-button {
  height: 66px;
  line-height: 64px;
  display: inline-block;
  background: #e90101;
  color: #fff;
  font-weight: 800;
  padding: 0 50px;
  border: 2px solid transparent;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.custom-button:hover {
  text-decoration: none;
  color: #fff;
  border-color: #e90101;
  background: none;
}

/* ACCORDION */
.accordion {
  width: 100%;
  float: left;
  background: #fff;
  padding: 0;
}
.accordion .card {
  background: none;
  border-radius: 0;
  margin-top: -1px;
  border: 1px solid #eaebee;
}
.accordion .card .card-header {
  background: none;
  padding: 0;
  border-bottom: none;
}
.accordion .card .card-header a {
  width: 100%;
  float: left;
  font-weight: 600;
  padding: 20px 25px;
  color: #111111;
  font-size: 17px;
}
.accordion .card .card-header a:before {
  content: "+";
  width: 30px;
  height: 30px;
  line-height: 30px;
  float: right;
  text-align: center;
  background: #eee;
  border-radius: 50%;
  color: #111111;
  font-weight: 400;
}
.accordion .card .card-header a:hover {
  color: #e90101;
  text-decoration: none;
}
.accordion .card .card-body {
  width: 100%;
  border-top: 1px solid #eee;
  line-height: 26px;
}
.accordion .card [aria-expanded="true"] {
  color: #e90101 !important;
}
.accordion .card [aria-expanded="true"]:before {
  content: "-" !important;
  color: #111111 !important;
}

/* HAMBURGER */
.hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  outline: none;
}
.hamburger .line {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburger .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.hamburger .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 3;
}
.hamburger .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.hamburger.opened {
  margin: 0;
}
.hamburger.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}
.hamburger.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 3;
}
.hamburger.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}

/* MOBILE MENU */
.mobile-menu {
  width: 80vw;
  max-width: 500px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  left: -100%;
  top: 0;
  background: #111111;
  z-index: 7;
  padding: 30px;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.mobile-menu.active {
  left: 0;
}
.mobile-menu .inner {
  width: 100%;
  display: block;
}
.mobile-menu .mobile-search {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.mobile-menu .mobile-search h6 {
  width: 100%;
  display: block;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}
.mobile-menu .mobile-search form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.mobile-menu .mobile-search form input[type="search"] {
  width: 70%;
  height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: none;
  background: none;
  color: #fff;
}
.mobile-menu .mobile-search form input[type="submit"] {
  width: 30%;
  height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  padding: 0;
  text-align: center;
}
.mobile-menu .site-menu {
  width: 100%;
  display: inline-block;
  margin: 0;
  margin-top: 30px;
}
.mobile-menu .site-menu ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.mobile-menu .site-menu ul li {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-menu .site-menu ul li a {
  color: #fff;
  font-weight: 600;
  font-size: 5vw;
}
.mobile-menu .site-menu ul li a:hover {
  text-decoration: none;
  color: #e90101;
}
.mobile-menu .mobile-account {
  width: 100%;
  height: 70px;
  line-height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #e90101;
  padding: 0 15px;
}
.mobile-menu .button-account {
  width: 100%;
  height: 70px;
  line-height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #e90101;
  padding: 0 15px;
  font-weight: 600;
  color: #fff;
}
.mobile-menu i {
  width: 40px;
  height: 40px;
  line-height: 38px;
  float: left;
  border: 2px solid #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 22px;
  margin-right: 10px;
}

/* SEARCH BOX */
.search-box {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  padding-top: 150px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  background: black;
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, black 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, black 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, black 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1); */
}
.search-box .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.search-box .container h6 {
  width: 100%;
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}
.search-box .container form {
  margin: 20px auto;
  border: 1px solid #fff;
  padding: 10px;
  background: #fff;
}
.search-box .container form input[type="search"] {
  background: none;
  border: none;
  font-size: 20px;
}
.search-box .container ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
}
.search-box .container ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  list-style: none;
}
.search-box .container ul li a {
  display: inline-block;
  color: #fff;
}
.search-box.active {
  opacity: 1;
  visibility: visible;
}

/* NAVBAR */
.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 60px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  color: #fff;
}
.navbar .logo {
  margin-right: auto;
}
.navbar .logo a {
  display: inline-block;
}
.navbar .logo a img {
  height: 54px;
}
.navbar .site-menu {
  display: inline-block;
  margin: 0 auto;
}
.navbar .site-menu ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.navbar .site-menu ul li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
  list-style: none;
}
.navbar .site-menu ul li a {
  color: #fff;
  font-weight: 600;
}
.navbar .site-menu ul li a:hover {
  text-decoration: none;
  color: #e90101;
}
.navbar .user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}
.navbar .user-menu .navbar-search {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.navbar .user-menu .navbar-notify {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  font-size: 20px;
}
.navbar .user-menu .navbar-notify b {
  width: 15px;
  height: 15px;
  line-height: 15px;
  background: #e90101;
  position: absolute;
  right: -7px;
  top: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
}
.navbar .user-menu .navbar-notify i {
  color: #fff;
  cursor: pointer;
}
.navbar .user-menu .navbar-notify .notify-dropdown {
  width: 300px;
  background: #fff;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(100% + 20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  color: #111111;
  font-size: 14px;
  display: none;
  border-radius: 6px;
  overflow: hidden;
}
.navbar .user-menu .navbar-notify .notify-dropdown:after {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  top: -20px;
}
.navbar .user-menu .navbar-notify .notify-dropdown .total-notify {
  width: 100%;
  display: flex;
  padding: 20px 25px;
  background: #e90101;
  color: #fff;
}
.navbar .user-menu .navbar-notify .notify-dropdown .total-notify h6 {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}
.navbar .user-menu .navbar-notify .notify-dropdown .total-notify span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  background: #fff;
  color: #e90101;
  text-align: center;
  border-radius: 50%;
  font-weight: 600;
  margin-left: 7px;
  font-size: 15px;
}
.navbar .user-menu .navbar-notify .notify-dropdown ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 25px;
}
.navbar .user-menu .navbar-notify .notify-dropdown ul li {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  padding: 0;
  padding-bottom: 5px;
  list-style: none;
  border-bottom: 1px solid #cdcdcd;
  position: relative;
  padding-left: 20px;
}
.navbar .user-menu .navbar-notify .notify-dropdown ul li:before {
  content: "";
  width: 6px;
  height: 6px;
  background: #e90101;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 9px;
}
.navbar .user-menu .navbar-notify .notify-dropdown ul li strong {
  font-weight: 600;
}
.navbar .user-menu .navbar-notify .notify-dropdown ul li p {
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
  line-height: 1.3;
}
.navbar .user-menu .navbar-notify .notify-dropdown ul li span {
  width: 100%;
  display: block;
  opacity: 0.5;
  font-size: 12px;
}
.navbar .user-menu .navbar-notify .notify-dropdown ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.navbar .user-menu .navbar-account {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.navbar .user-menu .navbar-account a {
  line-height: 40px;
  display: inline-block;
  font-weight: 600;
  color: #fff;
}
.navbar .user-menu .navbar-account i {
  width: 40px;
  height: 40px;
  line-height: 38px;
  float: right;
  border: 2px solid #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 22px;
  margin-left: 10px;
}
.navbar .user-menu .navbar-account img {
  width: 40px;
  height: 40px;
  line-height: 38px;
  float: right;
  border: 2px solid #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 22px;
  margin-left: 10px;
}
.navbar .hamburger-menu {
  margin-left: auto;
  display: none;
}

/* SLIDER */
.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  top: 0;
  background: #111111;
}
.slider .main-slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.slider .main-slider .swiper-slide {
  overflow: hidden;
  color: #fff;
}
.slider .main-slider .swiper-slide .slide-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .main-slider .swiper-slide .slide-inner:after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../public/images/bg-noise.gif");
  background-size: 200px auto;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.10;
}
.slider .main-slider .swiper-slide .container {
  position: relative;
  z-index: 1;
  padding-top: 100px;
}
.slider .main-slider .swiper-slide .container .tagline {
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.6);
  border-left: 3px solid #e90101;
  padding-left: 10px;
}
.slider .main-slider .swiper-slide .container .name {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  font-size: 80px;
  font-weight: 600;
}
.slider .main-slider .swiper-slide .container .name strong {
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 100px;
}
.slider .main-slider .swiper-slide .container .features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
  padding: 0;
}
.slider .main-slider .swiper-slide .container .features li {
  display: inline-block;
  padding: 0;
  margin-right: 30px;
  list-style: none;
  position: relative;
}
.slider .main-slider .swiper-slide .container .features li .rate {
  color: #65ee5b;
}
.slider .main-slider .swiper-slide .container .features li .rate svg {
  width: 40px;
  margin-right: 8px;
  transform: rotate(-90deg);
  transform-origin: center;
}
.slider .main-slider .swiper-slide .container .features li .rate b {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 13px;
}
.slider .main-slider .swiper-slide .container .features li .year {
  display: inline-block;
  font-weight: 800;
}
.slider .main-slider .swiper-slide .container .features li .hd {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  color: #fff;
  font-size: 13px;
  padding-left: 7px;
  border: 1px solid #fff;
}
.slider .main-slider .swiper-slide .container .features li .hd b {
  height: 18px;
  line-height: 20px;
  float: right;
  margin-left: 7px;
  padding: 0 7px;
  background: #fff;
  color: #111111;
}
.slider .main-slider .swiper-slide .container .features li .tags {
  color: #e90101;
  font-weight: 600;
}
.slider .main-slider .swiper-slide .container .description {
  width: 100%;
  display: block;
  font-size: 17px;
  margin-bottom: 40px;
}
.slider .main-slider .swiper-slide .container .play-btn {
  height: 66px;
  line-height: 64px;
  display: inline-block;
  float: left;
  background: #e90101;
  color: #fff;
  font-weight: 800;
  padding: 0 50px;
  margin-right: 30px;
  border: 2px solid transparent;
}
.slider .main-slider .swiper-slide .container .play-btn:hover {
  background: none;
  border-color: #e90101;
  text-decoration: none;
}
.slider .main-slider .swiper-slide .container .add-btn {
  width: 66px;
  height: 66px;
  line-height: 62px;
  display: inline-block;
  color: #fff;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  font-size: 32px;
}
.slider .main-slider .swiper-slide .container .add-btn:hover {
  text-decoration: none;
  background: #fff;
  color: #111111;
}
.slider .swiper-pagination {
  position: static;
  width: 20px;
  display: inline-block;
  position: absolute;
  bottom: 50%;
  left: auto;
  right: 60px;
  z-index: 2;
  transform: translateY(50%);
  cursor: pointer;
}
.slider .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  height: 20px;
  width: 20px;
  background: none;
  text-align: center;
  float: left;
  margin: 4px 0;
}
.slider .swiper-pagination .swiper-pagination-bullet:after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -3px;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  transform: scale(0.4);
  opacity: 0;
}
.slider .swiper-pagination .swiper-pagination-bullet:before {
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.slider .swiper-pagination .swiper-pagination-bullet svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 0;
  stroke: #fff;
  fill: none;
  animation: none;
  animation-play-state: paused;
  animation-fill-mode: none;
}
.slider .swiper-pagination .swiper-pagination-bullet-active {
  color: #fff;
  background: none;
}
.slider .swiper-pagination .swiper-pagination-bullet-active:after {
  opacity: 1;
  transform: scale(1);
}
.slider .swiper-pagination .swiper-pagination-bullet svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}
.slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active svg circle {
  animation-play-state: running;
  stroke-width: 2px;
  animation: countdown 7s linear forwards;
}
@keyframes countdown {
  from {
    stroke-dashoffset: 113px;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/* PAGE HEADER */
.page-header {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url("https://themezinho.net/digiflex/images/page-header-bg.jpg") center no-repeat;
  background-size: cover !important;
  position: fixed;
  left: 0;
  top: 0;
}
.page-header:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 0.7;
  background: black;
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, black 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, black 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.page-header.single {
  height: 100vh;
}
.page-header.single .container {
  padding-top: 0;
}
.page-header.single:after {
  opacity: 1;
}
.page-header .container {
  position: relative;
  z-index: 1;
  color: #fff;
  padding-top: 80px;
}
.page-header h1 {
  width: 100%;
  display: block;
  font-weight: 800;
  font-size: 56px;
}
.page-header h1:after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #e90101;
  border-radius: 50%;
  margin-left: 10px;
}

/* VIDEO PLAYER */
.video-player {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
  position: relative;
}
.video-player .back-btn {
  height: 60px;
  line-height: 60px;
  background: #e90101;
  color: #fff;
  padding: 0 30px;
  position: absolute;
  left: 5%;
  top: 50px;
  z-index: 1;
  font-weight: 600;
}
.video-player .back-btn:hover {
  text-decoration: none;
}
.video-player video {
  width: 100%;
  display: block;
}

/* MOVIE INFO BOX */
.movie-info-box {
  width: 100%;
  position: relative;
  z-index: 1;
}
.movie-info-box .name {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  font-size: 80px;
  font-weight: 600;
}
.movie-info-box .name strong {
  -webkit-text-stroke: 1px #111111;
  text-stroke: 1px #111111;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 100px;
}
.movie-info-box .features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
  padding: 0;
}
.movie-info-box .features li {
  display: inline-block;
  padding: 0;
  margin-right: 30px;
  list-style: none;
  position: relative;
}
.movie-info-box .features li .rate {
  color: #111111;
}
.movie-info-box .features li .rate svg {
  width: 40px;
  margin-right: 8px;
  transform: rotate(-90deg);
  transform-origin: center;
}
.movie-info-box .features li .rate b {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 13px;
}
.movie-info-box .features li .year {
  display: inline-block;
  font-weight: 800;
}
.movie-info-box .features li .hd {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  color: #111111;
  font-size: 13px;
  padding-left: 7px;
  border: 1px solid #111111;
}
.movie-info-box .features li .hd b {
  height: 18px;
  line-height: 20px;
  float: right;
  margin-left: 7px;
  padding: 0 7px;
  background: #111111;
  color: #fff;
}
.movie-info-box .features li .tags {
  color: #e90101;
  font-weight: 600;
}
.movie-info-box .description {
  width: 100%;
  display: block;
  font-size: 17px;
  margin-bottom: 40px;
}
.movie-info-box .add-btn {
  height: 66px;
  line-height: 66px;
  display: inline-block;
  color: #fff;
  background: #111111;
  text-align: center;
  border-radius: 66px;
  font-size: 15px;
  padding: 0 35px;
  font-weight: 600;
}
.movie-info-box .add-btn:hover {
  text-decoration: none;
  background: #e90101;
}
.movie-info-box .rate-box {
  display: inline-block;
  /* margin-left: 30px; */
}
.movie-info-box .rate-box a {
  width: 66px;
  height: 66px;
  line-height: 66px;
  display: inline-block;
  color: #919191;
  background: #eaeaea;
  text-align: center;
  border-radius: 66px;
  font-size: 25px;
  margin: 0 4px;
}
.movie-info-box .rate-box strong {
  display: inline-block;
  margin-left: 10px;
}

/* MOVIE SIDE INFO BOX */
.movie-side-info-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  border: 1px solid #eee;
}
.movie-side-info-box figure {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.movie-side-info-box figure img {
  width: 100%;
}
.movie-side-info-box ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
.movie-side-info-box ul li {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  font-size: 15px;
}
.movie-side-info-box ul li:last-child {
  margin-bottom: 0;
}
.movie-side-info-box ul li strong {
  width: 150px;
  display: inline-block;
  font-weight: 600;
}

/* CONTENT SECTION */
.content-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
  position: relative;
  background-size: cover !important;
  background-position: center;
  overflow-x: hidden;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  position: relative;
  z-index: 6;
}

/* VIDEO BG */
.video-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.video-bg video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: -1;
}
.video-bg:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

/* SECTION TITLE */
.section-title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.section-title.light {
  color: #fff;
}
.section-title h6 {
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
  opacity: 0.6;
}
.section-title h2 {
  width: 100%;
  display: block;
  margin: 0;
  font-size: 46px;
  font-weight: 600;
}
.section-title p {
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 17px;
}

/* CATEGORY THUMB */
.category-thumb {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.category-thumb:hover .category-image img {
  opacity: 0.7;
}
.category-thumb:hover .category-content .tags {
  opacity: 1;
}
.category-thumb .category-image {
  width: 100%;
  display: block;
  margin-bottom: 0;
  position: relative;
  background: #111111;
  height: 455px;
}
.category-thumb .category-image:after {
  content: "";
  width: 100%;
  height: 70%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  opacity: 1;
  background: black;
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.category-thumb .category-image img {
  width: 100%;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.category-thumb .category-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 30px;
  color: #fff;
}
.category-thumb .category-content .tags {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.category-thumb .category-content .tags li {
  display: inline-block;
  margin-right: 10px;
  padding: 0;
  list-style: none;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #e90101;
}
.category-thumb .category-content .name {
  width: 100%;
  display: block;
  font-size: 23px;
}
.category-thumb .category-content .play-btn {
  width: 60px;
  display: inline-block;
  margin-bottom: 15px;
}
.category-thumb .category-content .play-btn a {
  height: 46px;
  width: 46px;
  line-height: 46px;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  position: relative;
  text-indent: -9999px;
}
.category-thumb .category-content .play-btn a:hover {
  background: #e90101;
}
.category-thumb .category-content .play-btn a:hover:after {
  border-color: transparent transparent transparent #fff;
}
.category-thumb .category-content .play-btn a:after {
  content: "";
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  position: absolute;
  left: calc(50% - 4px);
  top: calc(50% - 8px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent #111111;
}
.category-thumb .category-content .details {
  display: inline-block;
  line-height: 46px;
}

/* VIDEO THUMB */
.video-thumb {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}
.video-thumb.light {
  color: #fff;
}
.video-thumb.light .video-content .name a {
  color: #fff;
}
.video-thumb .video-image {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  position: relative;
  background: #000;
  position: relative;
}
.video-thumb .video-image:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  opacity: 0;
  background: black;
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.video-thumb .video-image img {
  width: 100%;
  display: block;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  height: 250px;
}
.video-thumb .video-image .hd {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  color: #fff;
  font-size: 13px;
  padding-left: 7px;
  border: 1px solid #fff;
  position: absolute;
  left: 10px;
  bottom: 20px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.video-thumb .video-image .hd b {
  height: 18px;
  line-height: 20px;
  float: right;
  margin-left: 7px;
  padding: 0 7px;
  background: #fff;
  color: #111111;
}
.video-thumb .video-image .circle-rate {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  opacity: 0;
}
.video-thumb .video-image .circle-rate .circle-chart__circle:last-child {
  stroke-fill: none;
  fill: transparent !important;
}
.video-thumb .video-image .circle-rate b {
  width: 100%;
  line-height: 40px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
}
.video-thumb .video-image .circle-rate svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  transform-origin: center;
}
.video-thumb .video-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.video-thumb .video-content .range {
  display: inline-block;
  font-size: 13px;
  margin-right: 6px;
}
.video-thumb .video-content .tags {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.video-thumb .video-content .tags li {
  display: inline-block;
  margin-right: 10px;
  padding: 0;
  list-style: none;
  color: #e90101;
}
.video-thumb .video-content .age {
  margin-left: auto;
  height: 20px;
  line-height: 18px;
  font-size: 12px;
  padding: 0 4px;
  border: 1px solid #fff;
  opacity: 0.7;
}
.video-thumb .video-content .name {
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}
.video-thumb .video-content .name a {
  display: inline-block;
}
.video-thumb:hover .video-image:after {
  opacity: 1;
}
.video-thumb:hover .video-image img {
  opacity: 0.7;
}
.video-thumb:hover .video-image .circle-rate {
  opacity: 1;
}
.video-thumb:hover .video-image .hd {
  opacity: 1;
}

/* ICON BOX */
.col-md-4:last-child .icon-box:after {
  display: none;
}

.icon-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
}
.icon-box:after {
  content: "";
  width: 1px;
  height: 100%;
  background: #cdcdcd;
  position: absolute;
  top: 0;
  right: -15px;
}
.icon-box figure {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.icon-box figure img {
  height: 60px;
}
.icon-box h5 {
  width: 100%;
  display: block;
  font-weight: 600;
}
.icon-box p {
  width: 100%;
  display: block;
  padding: 0 15%;
  margin-bottom: 0;
}

/* CTA FORM */
.cta-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #111111;
  color: #fff;
  padding: 50px;
}
.cta-form h6 {
  width: 100%;
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}
.cta-form h2 {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  font-size: 50px;
}
.cta-form form {
  width: 100%;
  display: block;
}
.cta-form input[type="email"] {
  margin-bottom: 10px;
}

/* CTA BOX */
.cta-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
  color: #fff;
  text-align: center;
}
.cta-box h2 {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 50px;
}
.cta-box p {
  width: 100%;
  display: block;
  margin-bottom: 40px;
  font-size: 17px;
}
.cta-box .custom-button {
  margin: 0 auto;
}

/* SIDE IMAGE */
.side-image {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}
.side-image.full-left {
  width: 50vw;
  float: right;
}
.side-image.full-right {
  width: 50vw;
  float: left;
}
.side-image img {
  width: 100%;
}

/* SIDE CONTENT */
.side-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.side-content.right {
  padding-left: 75px;
}
.side-content h2 {
  width: 100%;
  display: block;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 40px;
}
.side-content .icon-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.side-content .icon-list li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  /*&:nth-child(2){padding-left: 50px;}*/
}
.side-content .icon-list li:last-child {
  margin-bottom: 0;
}
.side-content .icon-list li figure {
  width: 100px;
  display: inline-block;
  margin: 0;
}
.side-content .icon-list li figure img {
  height: 60px;
}
.side-content .icon-list li .content {
  width: calc(100% - 100px);
  display: inline-block;
}
.side-content .icon-list li .content h4 {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 20px;
}
.side-content .icon-list li .content p {
  width: 100%;
  display: block;
  margin: 0;
}

/* MEMBERSHIP */
.membership {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.membership h6 {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 34px;
}
.membership p {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 17px;
}
.membership form {
  width: 100%;
  display: block;
  margin-top: 20px;
}
.membership form .form-group {
  width: 100%;
  position: relative;
}
.membership form .form-group input[type="text"] {
  width: 100%;
  max-width: 100%;
}
.membership form .form-group input[type="password"] {
  width: 100%;
  max-width: 100%;
}
.membership form .form-group input[type="submit"] {
  width: 100%;
}
.membership form .form-group i {
  position: absolute;
  right: 30px;
  top: 27px;
  font-size: 20px;
}
.membership .or {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 30px;
}
.membership .or span {
  width: 100%;
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 10px;
}
.membership .or span:before {
  content: "";
  width: calc(50% - 15px);
  height: 1px;
  background: #cdcdcd;
  position: absolute;
  left: 0;
  top: 7px;
}
.membership .or span:after {
  content: "";
  width: calc(50% - 15px);
  height: 1px;
  background: #cdcdcd;
  position: absolute;
  right: 0;
  top: 7px;
}
.membership .or button {
  width: calc(50% - 15px);
  height: 70px;
  line-height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #9c9a9a;
  margin-right: 15px;
  color: #fff;
  padding: 0 30px;
  text-align: center;
  border: none;
}
.membership .or button:hover {
  text-decoration: none;
  background: #111111;
}
.membership .or button i {
  display: inline-block;
  font-size: 20px;
}
.membership .or button small {
  display: inline-block;
  margin-left: 7px;
  font-size: 14px;
}

/* CAROUSEL TV SHOWS */
.carousel-tv-shows {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.carousel-tv-shows .swiper-button-prev {
  width: 50px;
  height: 50px;
  background: none;
  background: rgba(0, 0, 0, 0.7);
}
.carousel-tv-shows .swiper-button-prev:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 20px;
  top: 16px;
  border-left: 3px solid #e90101;
  border-bottom: 3px solid #e90101;
  transform: rotate(45deg);
}
.carousel-tv-shows .swiper-button-next {
  width: 50px;
  height: 50px;
  background: none;
  background: rgba(0, 0, 0, 0.7);
}
.carousel-tv-shows .swiper-button-next:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 16px;
  border-left: 3px solid #e90101;
  border-bottom: 3px solid #e90101;
  transform: rotate(-135deg);
}

/* MEMBER BOX */
.member-box {
  width: calc(100% - 30px);
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  padding: 50px;
  border: 1px solid #cdcdcd;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.member-box:before {
  content: "";
  width: calc(100% - 120px);
  height: 0;
  background: #e90101;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  position: absolute;
  left: 60px;
  top: -1px;
  overflow: hidden;
}
.member-box:hover {
  border-color: transparent;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.member-box:hover ul {
  height: 50px;
  bottom: -50px;
}
.member-box:hover:before {
  height: 10px;
}
.member-box figure {
  width: 100%;
  display: block;
  margin-bottom: 25px;
  position: relative;
}
.member-box figure .image {
  width: 100%;
  display: inline-block;
  border-radius: 50%;
}
.member-box figure figcaption {
  position: absolute;
  right: 30px;
  bottom: 0;
}
.member-box figure figcaption img {
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
}
.member-box h5 {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  font-size: 23px;
}
.member-box small {
  width: 100%;
  display: block;
  opacity: 0.5;
  font-size: 15px;
}
.member-box ul {
  width: calc(100% - 120px);
  height: 0;
  line-height: 50px;
  position: absolute;
  left: 60px;
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: #e90101;
}
.member-box ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  list-style: none;
}
.member-box ul li a {
  display: inline-block;
  color: #fff;
}

/* DEVICES BOX */
.devices-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  margin: 15px 0;
  border: 1px solid #cdcdcd;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  position: relative;
}
.devices-box:before {
  content: "";
  width: calc(100% - 100px);
  height: 6px;
  background: #e90101;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  position: absolute;
  left: 50px;
  bottom: -6px;
  overflow: hidden;
}
.devices-box:hover {
  border-color: transparent;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.devices-box figure {
  width: 100%;
  display: block;
  margin-bottom: 25px;
}
.devices-box figure img {
  height: 65px;
}
.devices-box h5 {
  width: 100%;
  display: block;
  font-size: 23px;
  font-weight: 600;
}
.devices-box p {
  width: 100%;
  display: block;
  font-size: 16px;
}
.devices-box ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 20px;
}
.devices-box ul li {
  width: 50%;
  margin: 5px 0;
  font-size: 13px;
  font-weight: 600;
}

/* SUPPORT BOX */
.support-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  margin: 15px 0;
  border: 1px solid #cdcdcd;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  position: relative;
}
.support-box:before {
  content: "";
  width: calc(100% - 100px);
  height: 6px;
  background: #e90101;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  position: absolute;
  left: 50px;
  bottom: -6px;
  overflow: hidden;
}
.support-box:hover {
  border-color: transparent;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.support-box i {
  font-size: 20px;
  margin-bottom: 20px;
}
.support-box h5 {
  width: 100%;
  display: block;
  font-size: 23px;
  font-weight: 600;
}
.support-box ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 20px;
}
.support-box ul li {
  width: 100%;
  margin: 5px 0;
  font-size: 13px;
  font-weight: 400;
}

/* CONTACT BOX */
.contact-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  margin: 15px 0;
  border: 1px solid #cdcdcd;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  position: relative;
  text-align: center;
}
.contact-box:before {
  content: "";
  width: calc(100% - 100px);
  height: 6px;
  background: #e90101;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  position: absolute;
  left: 50px;
  bottom: -6px;
  overflow: hidden;
}
.contact-box:hover {
  border-color: transparent;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.contact-box figure {
  width: 100%;
  display: block;
  margin-bottom: 25px;
}
.contact-box figure img {
  height: 45px;
}
.contact-box h5 {
  width: 100%;
  display: block;
  font-size: 20px;
  font-weight: 600;
}
.contact-box p {
  width: 100%;
  display: block;
  font-size: 16px;
  margin-bottom: 0;
}

/* CONTACT FORM */
.contact-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.contact-form .form-group {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.contact-form .form-group:nth-child(1) {
  width: 50%;
  padding-right: 5px;
}
.contact-form .form-group:nth-child(2) {
  width: 50%;
  padding-left: 5px;
}
.contact-form .form-group:last {
  margin-bottom: 0;
}
.contact-form input[type="text"] {
  width: 100%;
  max-width: 100%;
}
.contact-form select {
  width: 100%;
}
.contact-form textarea {
  width: 100%;
}
.contact-form input[type="submit"] {
  width: 100%;
}

/* COMMENTS */
.comments {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.comments .comments-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 0;
}
.comments .comments-list li {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  list-style: none;
}
.comments .comments-list li .comments-list {
  padding-left: 50px;
}
.comments .comments-list li .avatar {
  width: 100px;
  display: inline-block;
}
.comments .comments-list li .avatar img {
  width: 80px;
  border-radius: 50%;
}
.comments .comments-list li .comment {
  width: calc(100% - 100px);
  display: inline-block;
}
.comments .comments-list li .comment h6 {
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.comments .comments-list li .comment p {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}
.comments .comments-list li .comment small {
  width: 100%;
  display: block;
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 5px;
}
.comments .comments-list li .comment a {
  display: inline-block;
  height: 20px;
  line-height: 21px;
  padding: 0 15px;
  background: #e90101;
  font-size: 11px;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
}
.comments .comments-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.comments .comments-form h5 {
  width: 100%;
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
}
.comments .comments-form .form-group {
  width: 100%;
  display: block;
}

/* TESTIMONIAL */
.testimonial {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.testimonial h2 {
  width: 100%;
  display: block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
  padding-right: 10%;
}
.testimonial blockquote {
  width: 100%;
  display: block;
  padding: 0;
  margin-bottom: 20px;
  border: none;
  font-size: 20px;
  padding-right: 10%;
}
.testimonial figure {
  width: 180px;
  display: inline-block;
  margin: 0;
  margin-right: 20px;
}
.testimonial figure img {
  display: inline-block;
  border-radius: 50%;
}
.testimonial figure img:nth-child(1) {
  width: 120px;
  height: 120px;
  position: relative;
}
.testimonial figure img:nth-child(2) {
  width: 65px;
  height: 65px;
  margin-left: -10px;
}
.testimonial h6 {
  width: calc(100% - 200px);
  display: inline-block;
}
.testimonial small {
  width: calc(100% - 200px);
  display: inline-block;
}

/* PRICE BOX */
.price-box {
  width: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fff;
  padding: 40px;
  text-align: center;
  margin: 0 20px;
}
.price-box .icon {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.price-box .icon img {
  height: 64px;
}
.price-box .months {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}
.price-box .price {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.price-box .price span {
  display: inline-block;
  font-size: 22px;
  margin-right: 6px;
}
.price-box .price b {
  display: inline-block;
  font-size: 55px;
  font-weight: 800;
}
.price-box .price small {
  width: 100%;
  display: block;
  font-display: 14px;
}
.price-box .save {
  height: 32px;
  line-height: 32px;
  display: inline-block;
  background: #fde5e5;
  color: #e90101;
  padding: 0 20px;
  border-radius: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 15px;
}
.price-box .note {
  width: 100%;
  display: block;
}
.price-box .note u {
  text-decoration: line-through;
  opacity: 0.6;
  font-weight: 600;
}
.price-box button {
  width: 100%;
  height: 66px;
  line-height: 66px;
  background: #e90101;
  color: #fff;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid transparent;
}
.price-box button:hover {
  background: none;
  color: #111111;
  border-color: #e90101;
  text-decoration: none;
}
.price-box .guarantee {
  width: 100%;
  display: block;
}
.price-box .guarantee i {
  color: green;
}

/* NEWS BOX */
.news-box {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 100px;
}
.news-box:last-child {
  margin-bottom: 0;
}
.news-box:hover .content h3 a {
  background-size: 100% 100%;
}
.news-box figure {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background: #e90101;
}
.news-box figure:after {
  content: "\ea39";
  font-family: "LineIcons";
  color: #fff;
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 20px;
}
.news-box figure img {
  width: 100%;
  max-width: inherit;
}
.news-box .content {
  width: 100%;
  display: block;
}
.news-box .content.overlap {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 30px;
  color: #fff;
  background: black;
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.news-box .content.overlap .author {
  margin-bottom: 0;
}
.news-box .content small {
  display: block;
  font-size: 12px;
  opacity: 1;
  margin-bottom: 10px;
}
.news-box .content h3 {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 38px;
  line-height: 1.2;
  font-weight: 800;
}
.news-box .content h3 a {
  display: block;
  color: #fff;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.news-box .content h3 a:hover {
  text-decoration: underline;
}
.news-box .content .author {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  font-size: 13px;
}
.news-box .content .author img {
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 15px;
}
.news-box .content .author b {
  font-weight: 600;
}
.news-box .content .image {
  width: 100%;
}
.news-box .content .half-left-image {
  width: 50%;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
.news-box .content .half-right-image {
  width: 50%;
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}
.news-box .content h6 {
  font-size: 24px;
  line-height: 1.7;
  margin-top: 10px;
  margin-bottom: 20px;
}
.news-box .content strong {
  font-weight: 600;
}
.news-box .content figure {
  margin: 30px 0;
}
.news-box .content video {
  width: 100%;
  margin: 20px 0;
}
.news-box .content blockquote {
  width: 100%;
  display: block;
  padding: 40px;
  background: #e90101;
  color: #fff;
  font-size: 24px;
  font-family: "Times New Roman";
  text-align: center;
}
.news-box .content ul {
  padding-left: 20px;
}
.news-box .content ul li {
  margin: 4px 0;
}

/* SIDEBAR */
.sidebar {
  width: 100%;
  display: block;
  padding-left: 20px;
}
.sidebar .widget {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid #cdcdcd;
  padding: 20px 0;
  padding-left: 50px;
  margin-bottom: 30px;
  position: relative;
}
.sidebar .widget * {
  position: relative;
}
.sidebar .widget .widget-title {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 20px;
  color: #e90101;
  padding: 15px 0;
}
.sidebar .widget .widget-title:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #e90101;
  position: absolute;
  left: -51px;
  bottom: 0;
  z-index: -1;
  mix-blend-mode: difference;
}
.sidebar .widget form {
  width: 100%;
  display: block;
}
.sidebar .widget form input[type="submit"] {
  margin-top: 10px;
  background: #111111;
  color: #fff;
}
.sidebar .widget .categories {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
.sidebar .widget .categories li {
  width: 100%;
  display: block;
  margin: 6px 0;
  padding: 0;
  padding-left: 20px;
  list-style: none;
}
.sidebar .widget .categories li:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #cdcdcd;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 10px;
}
.sidebar .widget .categories li a {
  color: #111111;
  font-size: 17px;
}
.sidebar .widget .side-gallery {
  width: calc(100% + 4px);
  float: left;
  margin: 0 -2px;
  padding: 0;
}
.sidebar .widget .side-gallery li {
  width: 33.3333%;
  float: left;
  margin: 0;
  padding: 2px;
  list-style: none;
}

/* PAGINATION */
.pagination {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.pagination .page-item {
  display: inline-block;
}
.pagination .page-item .page-link {
  height: 70px;
  line-height: 70px;
  padding: 0 40px;
  border-radius: 0 !important;
  font-size: 12px;
  font-weight: 600;
  color: #111111;
  outline: none !important;
}
.pagination .page-item .page-link:focus {
  outline: none !important;
}

/* GET START BOX*/
.get-started-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 70px 10%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.get-started-box h2 {
  width: 100%;
  display: block;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.get-started-box p {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
}
.get-started-box form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.get-started-box form input[type="email"] {
  margin-right: 10px;
  border: none;
}

/* FOOTER */
.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 100px; */
  background: #111111;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.footer .container {
  padding-top: 100px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .widget-title {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}
.footer .footer-menu {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  padding: 0;
}
.footer .footer-menu li {
  width: 100%;
  display: inline-block;
  margin: 6px 0;
  padding: 0;
  list-style: none;
}
.footer .footer-menu li:before {
  content: "";
  width: 4px;
  height: 4px;
  background: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 14px;
  transform: translateY(-2px);
  opacity: 0.5;
}
.footer .footer-menu li a {
  width: calc(100% - 20px);
  display: inline-block;
  color: #fff;
}
.footer .call-us {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
.footer .language {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 30px;
}
.footer .language i {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 19px;
  opacity: 0.6;
}
.footer .language select {
  height: 60px;
  background: none;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.footer .language select option {
  color: #fff;
}
.footer .bottom-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
  background: #000;
  margin-top: 50px;
  font-size: 13px;
}
.footer .bottom-bar .container {
  display: flex;
  flex-wrap: wrap;
}
.footer .bottom-bar .container span {
  margin-left: 0;
}
.footer .bottom-bar .container span:nth-child(2) {
  margin-left: auto;
}
.footer .bottom-bar .container span:nth-child(2) a {
  color: #fff;
  text-decoration: underline;
}
.footer .bottom-bar .container span:nth-child(2) a:hover {
  text-decoration: none;
}

/* RESPONSIVE MEDIUM  */
@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {
  .category-thumb .category-content .name {
    font-size: 22px;
  }

  .category-thumb .category-content {
    padding: 15px;
  }

  .side-content.right {
    padding-left: 0;
  }

  .side-content h2 {
    font-size: 34px;
  }

  .price-box {
    width: 100%;
    margin: 0;
  }

  .price-box .note u {
    width: 100%;
    display: block;
  }

  .footer .call-us strong {
    width: 100%;
    display: block;
  }

  .contact-box {
    padding: 50px 10px;
  }

  .sidebar .widget {
    padding-left: 30px;
  }

  .sidebar .widget .widget-title:before {
    left: -31px;
  }
}
/* RESPONSIVE TABLET  */
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  .navbar .site-menu ul li {
    margin: 0 10px;
  }

  .category-thumb {
    margin: 15px 0;
  }

  .side-image.full-left {
    width: 100vw;
    float: left;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
  }

  .price-box {
    padding: 30px;
    margin: 15px 0;
  }

  .price-box .price b {
    font-size: 50px;
  }

  .membership {
    margin-bottom: 50px;
  }

  .get-started-box {
    padding: 50px 0;
  }

  .sidebar {
    padding-left: 0;
    margin-top: 50px;
  }

  .sidebar .widget {
    border-left: none;
    padding-left: 0;
  }

  .sidebar .widget .widget-title:before {
    display: none;
  }

  .icon-box p {
    padding: 0;
  }

  .icon-box h5 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
  }

  .col-lg-4.col-md-6:last-child .member-box {
    margin-top: 50px;
  }

  .col-lg-6:nth-child(1) .testimonial {
    margin-bottom: 50px;
  }

  .footer {
    padding-top: 50px;
  }

  .footer .widget-title {
    margin-top: 40px;
  }
}
/* RESPONSIVE MOBILE */
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  main {
    margin-top: 0 !important;
  }

  .search-box {
    display: none;
  }

  .navbar {
    padding: 30px 15px;
    position: absolute;
  }

  .navbar .site-menu {
    display: none;
  }

  .navbar .user-menu {
    display: none;
  }

  .navbar .hamburger-menu {
    display: inline-block;
  }

  .slider {
    position: static;
  }

  .page-header {
    position: static;
  }

  .slider .main-slider .swiper-slide .slide-inner {
    background-position: right center !important;
  }

  .slider .main-slider .swiper-slide .container .name {
    font-size: 50px;
  }

  .slider .main-slider .swiper-slide .container .name strong {
    font-size: 50px;
  }

  .slider .main-slider .swiper-slide .container .description {
    display: none;
  }

  .slider .main-slider .swiper-slide .container .features li:first-child {
    width: 100%;
    margin-bottom: 10px;
  }

  .slider .main-slider .swiper-slide .container .features li:last-child {
    width: 100%;
    margin-top: 10px;
  }

  .slider .main-slider .swiper-slide .container .play-btn {
    padding: 0 25px;
  }

  .slider .swiper-pagination {
    display: none;
  }

  .section-title h2 {
    font-size: 34px;
  }

  .side-content h2 {
    font-size: 26px;
  }

  .side-content .icon-list li figure {
    width: 100%;
    margin-bottom: 20px;
  }

  .side-content .icon-list li .content {
    width: 100%;
  }

  .video-thumb .video-content .age {
    display: none;
  }

  .video-thumb .video-image .hd {
    display: none;
  }

  .testimonial h2 {
    font-size: 32px;
    padding-right: 0;
  }

  .testimonial blockquote {
    font-size: 18px;
    padding-right: 0;
  }

  .testimonial figure {
    width: 100%;
    margin-bottom: 15px;
  }

  .testimonial figure img:nth-child(1) {
    width: 80px;
    height: 80px;
  }

  .testimonial figure img:nth-child(2) {
    width: 50px;
    height: 50px;
  }

  .testimonial h6 {
    width: 100%;
  }

  .testimonial h6 small {
    width: 100%;
  }

  .mobile-menu .site-menu ul li a {
    font-size: 9vw;
  }

  .get-started-box form {
    flex-wrap: wrap;
  }

  .get-started-box form input[type="email"] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .news-box .content.overlap {
    position: static;
    background: none;
    padding: 0;
    color: #111111;
  }

  .news-box .content h3 {
    font-size: 28px;
  }

  .news-box .content h3 a {
    color: #111111;
  }

  .news-box .content blockquote {
    padding: 20px;
  }

  .news-box .content .half-left-image {
    width: 100%;
    margin-right: 0;
  }

  .news-box .content .half-right-image {
    width: 100%;
    margin-left: 0;
  }

  .pagination .page-item .page-link {
    padding: 0 30px;
  }

  .icon-box {
    margin-top: 30px;
  }

  .cta-form h2 {
    font-size: 30px;
  }

  .cta-form {
    padding: 30px;
  }

  .cta-form form input[type="submit"] {
    width: 100%;
  }

  .member-box {
    width: 100%;
    margin: 30px 0;
  }

  .col-lg-4.col-md-6:last-child .member-box {
    margin-top: 30px;
  }

  .devices-box {
    padding: 30px;
  }

  .contact-form .form-group:nth-child(1) {
    width: 100%;
    padding-right: 0;
  }

  .contact-form .form-group:nth-child(2) {
    width: 100%;
    padding-left: 0;
  }

  .support-box {
    padding: 30px;
  }

  .membership .or a {
    width: 100%;
    margin-right: 0;
    margin: 5px 0;
  }

  .footer .language {
    margin-bottom: 50px;
  }

  .footer .widget-title {
    margin-top: 10px;
  }

  .footer .bottom-bar .container span:nth-child(2) {
    margin-left: 0;
  }
}

.tvshows-episode ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
}

/* TVShows */
.tvshows-episode ul li {
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  border: 2px solid transparent;
  background: #e90101;
  padding: 10px;
  min-width: 10%;
  text-align: center;
}

.tvshows-episode ul li:hover {
  border-color: #e90101;
  background: none;
  cursor: pointer;
}

.tvshows-episode ul li:hover .episode-link {
  color: #212529;
}

.tvshows-episode ul li span {
  color: #fff;
}

.register {
  text-align: center;
}

.register a {
  color: #e90101;
}

.list-order {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.list-order h6 {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 34px;
}

.list-order .price-box  {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fff;
  padding: 40px;
  text-align: center;
  margin: 0 20px;
}
